a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    
}
.miHeader{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-bottom: 5px solid #32e97b;
    background-color: #2a2a2a;
}

.titulo{
    color: #dedede;
    font-size: 2rem;
    padding: 5px;
    flex: 1;
    text-align: center;
}

.ActiveOption{
    font-size: 2rem;
    height: 55px;
    width: 90px;
    background-color: #e20d0644;
    border-radius: 5px;
    border : 2px solid #e20d06;
    padding: 10px;
}

.Option{
    font-size: 2rem;
    height: 55px;
    width: 90px;
    padding : 10px;
}

.Categories{
    flex: 1;
    text-align: center;
    align-content: center;
}

.widget{
    flex: 1;
    width: 100%;
}

