h1{
    text-align: center;
    margin: 20px;
}


.Checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.Option{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}